.rocapedia-container-cover{
    width: 100%;
    height: 150px;
    position: relative;
    margin-top: 80px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.rocapedia-container-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    background:  rgba(8, 77, 161, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 500px;
    height: 150px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
}

.container-info-cover p{
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    margin-bottom: 10px;
}


/*Contenedor - contenido del articulo*/
.container-content{
    width:1200px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

/*Rocas*/

.container-rocas{
    width: 100%;
    height: auto;
    margin: auto;
    margin-left: 100px;
    display: flex;
    justify-content: center;
}

#lista-rocas{
    list-style-type: none;
    margin-right: 100px;
}

#lista-rocas li{
    margin-top: 80px;
}

#lista-rocas li:hover{
    background: #afadad;
}

#lista-rocas li img{
    width: 20%;
    margin-right: 30px;
}


#lista-rocas li a{
    font-size: 35px;
    font-weight: 500;
    color: #010106;
    display: flex;
    justify-content: left;
    align-items: center;
    
}

#lista-rocas li a p{
    margin-left: 60px;
    font-size: 30px;
    font-weight: 350;
    color: #010106;
    display: flex;
    justify-content: left;
    align-items: center;
}

@media screen and (max-width: 1220px){
    .container-rocas{
        max-width: 1000px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 1020px){
    /*Para que el articulo ocupe el 100 y quite el aside banner*/
    .container-rocas{
    width: 100%;
    flex-direction: column;
}

}


